/*  UPDATED  170220 at 10:20 am. Previous version s.  170220 at 10:10 am am BELOW*/
/* Здесь прописан импорт шрифта в таблицу стилей, шрифты добавлены в папку font/awesome в корне сайта */
@import url('../font/awesome/font-awesome.min.css');

@font-face {
    font-family: 'RysLatinModernMono';
    src: url('font/RysLatinModernMono.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century';
    src: url('font/CenturySchoolbook-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Bold';
    src: url('font/CenturySchoolbook-Bold-webfont.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Century Italic';
    src: url('font/CenturySchoolbook-Italic-webfont.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Harman Simple';
    src: url('font/Harman-Simple-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harman Retro';
    src: url('font/Harman-Retro-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (min-width: 500px) {
    .header__title-br {
        display: none;
    }
}

* {
    line-height: 150%;
    box-sizing: border-box;
    color: turquoise;
}


/* a{
   ((color:#000; black))
  text-decoration: none;
    display: inline-block;
} */


/*
a:hover {
    color: cadetblue;
} */

body {
    margin: 50px;
    /* padding:0; MORE SPACE left and right */
    padding: 0 30px 0 30px;
    font-family: 'Century', sans-serif;
    font-size: 13px;
    background: purple;
    color: #5D6063;
    /*  solid grey  */
}

button.accordion {
    width: 100%;
    background-color: #EAEDF0;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 24px;
    color: blue;
    /* #444;  solid grey */
    cursor: pointer;
    transition: background-color 0.2s linear;
}

button.accordion:after {
    content: '\f055';
    font-family: "fontawesome";
    font-size: 14px;
    float: right;
}

div.middle .logo {
    position: relative;
    width: 70px;
}

div.middle .logo p {
    position: absolute;
    width: 250px;
    top: 54px;
    left: -90px;
    z-index: 1000;
}

div.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div.section div.links {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 800;
}

div.section div.links p {
    width: 50%;
    font-size: 18px;
}

footer {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    height: 45px;
    align-items: center;
}

footer ul {
    width: 33%;
    margin: 0;
}

footer ul li a {
    font-size: 18px;
}

footer ul.footerMidLinks {
    font-family: 'Harman Simple'
}

footer ul.footerLinks {
    font-family: 'Harman Simple';
    display: flex;
    justify-content: flex-end;
}

footer ul.footerLinks li {
    padding: 0 5px;
}

footer ul.footerLinks li a {
    color: #407FC7;
}

footer ul.footerLinks li a:hover,
footer ul.footerLinks li a:active {
    text-decoration: underline
}

h1, h2, h3 {
    color: #407FC7; /* blue */
    margin-bottom: 10px;
    font-family: Harman Simple;
}

h4, h5, h6 {
    color: #407FC7; /* blue */
    margin-bottom: 10px;
    font-family: FontAwesome;
}

img {
    width: 100%;
    border: 1px solid grey;
}

frame {
    width: 100%;
    border: 1px solid grey;
}

header.page-header {
    z-index: 900;
    margin-top: 56px;
}

.page-header-blue {
    border-bottom: 1px solid #EAEDF0;
    padding-top: 114px;
    padding-bottom: 112px;
    display: block;
}

header.top {
    position: fixed;
    max-width: 1400px;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(93, 96, 99, .1);
    z-index: 1000;
    background: white;
    font-family: 'Harman Simple';
    margin: auto;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0 20px;
}

hr {
    color: #5D6063;
    height: 2px;
    border: none;
    background-color: #5D6063;
}

nav {
    display: flex;
    align-items: center
}

nav li {
    display: inline-block;
    padding: 0 5px;
}

nav ul {
    width: 100%;
    margin: 0;
}

nav ul li a {
    color: #407FC7;
    font-size: 18px;
    line-height: 26px;
}

nav ul li a:hover,
nav ul li a:active {
    text-decoration: underline;
    text-decoration-color: #407FC7;
}

ul {
    /*   list-style: none; */
    padding-left: 0;
}

.about-area .before {
    border-top: 1px solid #959BA0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 12px;
}

.about-area .middle {
    width: 100px;
}

.about-area .after {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-top: 1px solid #959BA0;
    margin-left: 12px;
}

.about-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 29px;
    margin-bottom: 29px;
}

.aboutContainer {
    max-width: 400px !important;
    font-size: 100%;
}

.accordion-content {
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.about-p {
    font-family: 'Century';
    font-size: 18px;
}

.about-p a {
    color: #407FC7;
}

.blogTitle {
    font-size: 20px;
}

.blogTitleTODO {
    font-size: 20px;
    color: violet;
}

.blogIntro {
    font-weight: bold;
    font-size: 16px;
}

.button {
    color: #FFF;
    font-size: 24px;
    text-decoration: none;
    background-color: #5995DA;/* Button Blue */
    padding: 20px;
    text-align: center;
    border: 1px solid #5D6063;
    border-radius: 5px;
    width: 400px;
    /* Задал отступ до этого было margin: 20px auto */
    margin: 20px 0;
    /* Задал тень */
    box-shadow: 10px 10px 16px 0px black;
}

.buttonForm {
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    background-color: #5995DA;/* Button Blue */
    padding: 8px;
    text-align: center;
    border: 1px solid #5D6063;
    border-radius: 5px;
    width: 140px;
    /* Задал отступ до этого было margin: 20px auto */
    margin: 20px 0;
    /* Задал тень
    box-shadow: 10px 10px 16px 0px black;*/
}


.caption {
    font-size: 10pt;
    text-align: center;
    color: #407FC7;
    /* kindablue */
    font-family: arial;
}

.captionComment {
    font-size: 24px;
    font-family: arial;
}

#hire {
    /* Указываю какое отображение должен иметь div */
    display: flex;
    /* Направление указываю в столбец, что подразумевает выстраивание элементов сверху вниз */
    flex-direction: column;
    /* Далее два свойства которые ровняют весь контент относительно начала, тоесть с левой стороны экрана. */
    justify-content: flex-start;
    align-items: flex-start;
}

.captionHire {
    font-size: 24px;
    text-shadow: 10px 10px 16px 0px black;
    text-decoration: none;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.comment {
    font-size: 20px;
}

.commentCall {
    font-size: 36px;
    color: blue;
    /*#407FC7; kindablue */
    font-family: Century;
    font-weight: bold;
}

.commentRespond {
    font-style: italic;
    font-size: 18px;
}

.commentUser,
.ask {
    color: #407FC7;
    /* blue */
}


/* .comment-respond stays for JP responding the comments. S. also: .comment and .commentUser */

.container {
    width: 100%;
    font-size: 24px;
    max-width: 1000px;
    margin: 50px auto;
    background: #F9F8FB;
    /* light grey */
}

.container h2 {
    font-family: 'Harman Simple';
    font-size: 24px;
    text-align: center;
    margin-top: 80px;
}

.container h3 {
    font-size: 24px;
    text-align: left;
    margin-top: 60px;
}

.copyShare {
    font-weight: bold;
    color: blue;
    /* #5995DA; Button blue,
    #407FC7; standard blue */
    font-size: 24px;
}


/* copyShare stays for Copy & Share at the end of an article.*/

.copyShareLink {
    font-weight: bold;
    color: #407FC7;
    /* blue */
    font-size: 24px;
}

.disclaimer {
    font-weight: bold;
    font-size: 16px;
}

.example {
    color: red;
    /* font-weight: bold; */
    font-size: 18px;
}

.exampleText,
.noteText,
.stepText,
.tipText {
    /* font-weight: bold; */
    font-size: 24px;
}

.fig {
    color: red;
    font-weight: bold;
}

.footer-top {
    background: #f9f8fb;
    /* grey */
    border-bottom: 1px solid #EAEDF0;
    /* deeper grey then f9f8fb */
    padding-bottom: 21px;
}

.footnote {
    font-size: 18px;
    margin-top: 60px;
    padding-bottom: 30px;
}

.formText {
    font-size: 24px;
    font-family: 'Century', sans-serif;
}

.formTitle {
    font-size: 30px;
    font-weight: bold;
}

.goup {
    font-size: 16px;
    text-decoration: none;
    padding-right: 40px;
}

.hashtag {
    color: #A9A9A9;
    font-size: 16px;
}

.heading__title {
    font-size: 57px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 12px;
    font-family: 'Harman Retro';
    font-weight: normal;
}

.heading__title__blue {
    margin-bottom: 103.3px;
}

.heading__parenthesis-rule {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Harman Simple'
}

.heading__rule-before {
    border-top: 1px solid #959BA0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    top: 13px;
    margin-right: 12px;
    width: 20%;
}

.heading__parenthesis {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.heading__rule-after {
    border-top: 1px solid #959BA0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    top: 13px;
    margin-left: 12px;
}

.heading__subtitle {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    font-family: 'Century Italic'
}

.intro {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 60px;
}

.logo {
    border: none;
    /* DOESNT WORK! WHY? */
    width: 40px;
    box-sizing: border-box;
    margin: auto;
}

.letter {
    font-style: italic;
    font-size: 18px;
}

.listWelcome {
    color: grey;
    background-color: yellow;
    font-size: 16px;
}

.no-frame {
    border: none;
}

.note {
    color: red;
    /* font-weight: bold; */
    font-size: 18px;
}

.padded {
    width: 900px;
    align-items: center;
}

.padded150 {
    width: 150px;
}

.padded300 {
    width: 300px;
    align-items: center;
}

.padded450 {
    width: 450px;
}

.padded600 {
    width: 600px;
    align-items: center;
}

.padded-index {
    height: 75px;
    width: auto;
    float: right;
    margin-right: 30px;
}

.page-header {
    border-bottom: 1px solid #EAEDF0;
    padding-top: 114px;
    padding-bottom: 112px;
    text-decoration: none;
    display: block;
}

.page-header__wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f8fb;
    /* grey. it was "white" */
}

.publ {
    font-size: 16px;
}


/* publ stays for date of publication and copyright.*/

.quan {
    color: red;
    text-decoration: underline;
}


/* .quan stays for Question: Some question? <br> Answer: Some text.*/

.res {
    font-style: italic;
    font-size: small;
}

.row {
    display: flex;
}

.step {
    color: #407FC7;
    font-weight: bold;
    font-size: 24px;
    /* blue; font-weight: bold;
    padding-top, padding-bottom: 60px; */
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left !important;
}

.tip {
    color: red;
    /* font-weight: bold; */
    font-size: 18px;
}

.tutorial p {
    margin-bottom: 30px;
}

.tutorial a {
    color: #407FC7;
}


/* Image Container */

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}


/* Glider CSS */

.glider-next {
    right: -33px !important;
}

.glider-prev,
.glider-next {
    top: 13% !important;
}

.glider-slide {
    margin: 0 10px;
}


/* Здесь будет респонсив */

@media screen and (max-width: 768px) {
    .page-header {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

@media screen and (max-width: 475px) {
    /* Убрал отступы внешние */
    /* Здесь я убрал отступы у body, так как именно он задает ширину контента. (@media screen and (max-width: 475px) -
    данный текст означает что при ширине 475 пикселей и меньше будет дейтсвовать правило body margin: 0 = тоесть без отступов) */

    /* Было */
    /* body {

        margin: 50px;
    }     */

    /* Стало */
    body {
        margin: 0;
    }
}
